.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.18.0/windows_amd64/terraform-provider-azurerm_v4.18.0_x5.exe
Terraform.code-workspace
.terraform/terraform.tfstate
graph.svg
*.tfplan

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# .tfvars files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform provider lock file
.terraform.lock.hcl

# Sensitive files
*.pem
*.key
*.env

# Ignore editor specific files
.vscode/*
.idea/*
*.swp
*.swo